.page {
    background: rgba(252, 228, 122, 0.62);
}

.message {
    background: #c6c4c4;
    display: flex;
    align-items: flex-end;
}
.inputArea {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    /*padding: 10px;*/
    background-color: #070707;
    width: 300px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #070707;
    border-radius: 10px;
}

.inputArea:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #000000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    left: -15px;
}

.inputArea:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #070707;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    left: -17px;
}

.avatar {
    width: 70px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 7px;
    border: 1px solid #212122;
}

.name{
    padding: 10px 0px 5px 25px ;
    color: #61dafb;
    margin: auto;
}
p{
    margin: auto;
    padding-left: 25px;
    color: #fffefe;
    font-size: 17px;
    word-wrap: break-word;
}
.time{
    color: #898787;
    padding-left: 80%;

}